name: Lint & Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint-build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-node@v6
      with:
        node-version: '24.12.0'
    - run: npm i
    - run: npm run lint
    - run: npm run type-check
    - run: npm run build
